<h3>Inscription</h3>
<form action="">
  <div>
    <label for="">Prénom: </label>
    <input type="text" name="" id="">
  </div>
  <div>
    <label for="">Nom: </label>
    <input type="text" name="" id="">
  </div>
  <div>
    <label for="">Date de Naissance: </label>
    <input type="date" name="" id="">
  </div>
  <div>
    <label for="">E-mail: </label>
    <input type="email" name="" id="">
  </div>
  <div>
    <label for="">Mot de Passe: </label>
    <input type="password" name="" id="">
  </div>
  <p><button type="submit">S'inscrire</button></p>
</form>
