<h3>Inscription</h3>
<form name="form" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && register()" novalidate>
  <div>
    <label for="email">E-mail: </label>
    <input type="email" name="email" id="email" [(ngModel)]="model.email" #email="ngModel" required>
  </div>
  <div>
    <label for="firstname">Prénom: </label>
    <input type="text" name="firstname" id="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required>
  </div>
  <div>
    <label for="lastname">Nom: </label>
    <input type="text" name="lastname" id="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required>
  </div>
  <div>
    <label for="birthdate">Date de Naissance: </label>
    <input type="date" name="birthdate" id="birthdate" [(ngModel)]="model.birthdate" #birthdate="ngModel" required>
  </div>
  <div>
    <label for="password">Mot de Passe: </label>
    <input type="password" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" required>
  </div>
  <p><button type="submit">S'inscrire</button></p>
</form>
